<!DOCTYPE html>
<html >
   <head>
      <title>Models</title>
 </head>
   <body>
      <nav>
         <input type="checkbox" id="click">
         <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
         <ul>
<h1><u></u></h1>

<h2>Mercedes Benz GLE 250</h2>
<table  width = "100%" height="100px" >
   <tr>
      <td><img src='assets\250.jpg'  width="80%" height="100px"></td>
      <td width="75%" height="100px"><p>The Mercedes Benz GLE (W166) 250 d has a Inline 4, Diesel engine with 2143 cm3 / 130.8 cu-in capacity.
    </p></td>
   </tr>    
</table>
<h2>Mercedes Benz GLE 350</h2>
      <table  width = "100%" height="100px" >
         <tr>
            <td><img src='assets\350.jpg'  width="80%" height="100px"></td>
            <td width="75%" height="100px"><p>Is Mercedes Benz GLE 350 a good car?
                It gets just a 5 for reliability, and that's out of 100. The 2022 Mercedes-Benz GLE scores a 1/5 for its predicted reliability and the 2020 and 2021 have poor reliability ratings of 1/5. The 2019 GLE doesn't have a reliability rating, but the 2018 GLE has a great reliability rating of 5/5 </p></td>
         </tr>    
      </table>

<h2>Mercedes Benz GLE 450</h2>
      <table  width = "100%" height="100px" >
         <tr>
            <td><img src='assets\450.jpg'  width="80%" height="100px"></td>
            <td width="75%" height="100px"><p>450 4MATIC LWB is powered by a 2999 cc Petrol engine mated to a 9 Gears, Paddle Shift, Sport Mode speed Automatic (TC) gearbox which generates 362 bhp of power & 500 Nm of torque.</p></td>
         </tr>    
      </table>
    