<!DOCTYPE>
<html>
<section>
    <div class="leftBox">
        <div class="content">
            <h1>Mercedes-Benz</h1>
<p>On January 29, 1886, Carl Benz applied for a patent for his “vehicle powered by a gas engine.” 
The patent - number 37435 - may be regarded as the birth certificate of the automobile. 
In July 1886 the newspapers reported on the first public outing of the three-wheeled Benz Patent Motor Car, model no. 1.</p>	
        </div>
        <img src="assets/images/images.jpg"height="350px" width="440px">
    </div>
        <div class="events">
        <ul>
            <li>
                <div class="time">
                    <h2>1885<br><span>January</span></h2>
                </div>
                <div class="details">
                    <h3>Where it is invented?</h3>					
 <p>The Benz Patent-Motorwagen ("patent motorcar"), built in 1885 by the German Carl Benz,
    is widely regarded as the world's first practical automobile,
    a self-propelled vehicle for carrying people, and first car put into series production.
    It was patented and unveiled in 1886</p>
                <a href="#">View Details</a>
                </div>
                <div style="clear: both;"></div>
            </li>
            <li>
                <div class="time">
                    <h2>
                        <br><span>Location</span>
                    </h2>
                </div>
                <div class="details">
                    <h3>
                        Where it is Located?
                    </h3>
                    
 <p>Mercedes-Benz AG (a Mercedes-Benz Group subsidiary established in 2019) is headquartered in Stuttgart,
    Baden-Württemberg, Germany.</p>
      <a href="#">View Details</a>
                </div>
                <div style="clear:both;"></div>
            </li>

            <li>
                <div class="time">
                    <h2>
                        2022 <br><span>September</span>
                    </h2>
                </div>
                <div class="details">
                    <h3>
                        How many Models in India?
                    </h3>
                    
<p>There are a total of 28 Mercedes-Benz models currently on sale in India. 
  These include 9 Sedans, 11 SUVs,
  1. Mercedes-Benz has 6 upcoming car launches in India - the EQS, GLB, EQA, EQB, GLC 2023, EQS SUV.</p>
   <a href="#">View Details</a>
                </div>
                <div style="clear:both;"></div>
            </li>
        </ul>
    </div>
</section>
</html>
